<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm mới phim</title>
</head>
<body>
    <form th:action="@{/movies/add}" method="post" th:object="${movie}">
        <label for="title">Tên phim</label>
        <input type="text" name="title" id="title" th:field="*{title}">
        <br>
        <label for="genre">Thể loại</label>
        <input type="text" name="genre" id="genre" th:field="*{genre}">
        <br>
        <label for="duration">Thời lượng</label>
        <input type="number" name="duration" id="duration" th:field="*{duration}">
        <br>
        <button type="submit">Thêm mới</button>
    </form>
</body>
</html>