<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Sửa lịch chiếu</title>
</head>
<body>
<h3>Sửa lịch chiếu</h3>
<form th:action="@{/showtimes/edit}" th:object="${showtime}" method="post">
  <input type="hidden" th:field="*{id}">

  <label>Phim</label>
  <select th:field="*{movie.id}">
    <option th:each="m : ${movies}"
            th:value="${m.id}"
            th:text="${m.title}"></option>
  </select>
  <br>
  <label>Phòng chiếu:</label>
  <select th:field="*{screenRoom}">
    <option th:each="r : ${screenRooms}"
            th:value="${r.id}"
            th:text="${r.name}"></option>
  </select><br/>

  <label>Thời gian bắt đầu:</label>
  <input type="datetime-local" th:field="*{startTime}" /><br/>

  <label>Thời gian kết thúc:</label>
  <input type="datetime-local" th:field="*{endTime}" /><br/>

  <label>Số ghế trống:</label>
  <input type="number" th:field="*{numberSeatEmpty}" /><br/>

  <button type="submit">Cập nhật</button>
</form>
</body>
</html>
